<% provide(:title, "About") %>
<h1>About</h1>
<p>
  <%= link_to "The Ruby on Rails Tutorial,", "https://www.railstutorial.org/" %> part of the
  <%= link_to "Learn Enough family of tutorials", "https://www.learnenough.com/" %>, is a
  <%= link_to "book ", "https://www.railstutorial.org/book" %> and
  <%= link_to "screencast series", "https://screencasts.railstutorial.org/" %> to teach web development with
  <%= link_to "Ruby on Rails", "https://rubyonrails.org/" %>
  This is the sample app for the tutorial.
</p>
